body {
  align-items: center;
  background-color: ghostwhite;
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: center; }

.train {
  animation: train 1.5s infinite ease-in-out;
  background-color: #070700;
  border-radius: 10px;
  height: 60px;
  position: relative;
  top: 1px;
  width: 60px; }
  .train .windows {
    background-color: ghostwhite;
    border-radius: 4px;
    height: 23px;
    margin: 1px auto 0 auto;
    position: relative;
    top: 12px;
    width: 80%; }
    .train .windows:before {
      background-color: ghostwhite;
      border-radius: 3px;
      content: "";
      display: block;
      height: 5px;
      position: absolute;
      left: calc(50% - 7.5px);
      top: -8px;
      width: 15px; }
  .train .lights:before,
  .train .lights:after {
    background-color: ghostwhite;
    border-radius: 50%;
    content: "";
    display: block;
    height: 12px;
    left: 10%;
    position: absolute;
    top: 70%;
    width: 12px; }
  .train .lights:after {
    left: 71%; }

.rails {
  position: relative;
  text-align: center;
  width: 80px; }
  .rails:before, .rails:after {
    background-color: #070700;
    border-radius: 4px;
    content: "";
    display: block;
    float: left;
    height: 40px;
    transform-origin: bottom;
    transform: skewX(-27deg);
    width: 3px; }
  .rails:after {
    float: right;
    transform: skewX(27deg); }
  .rails .ties {
    animation: track 1s infinite linear;
    background-color: #070700;
    border-radius: 4px;
    display: inline-block;
    height: 3px;
    opacity: 0;
    position: absolute;
    top: 89%;
    transform: translateX(-52%); }
    .rails .ties:nth-child(2) {
      animation-delay: -0.333s; }
    .rails .ties:nth-child(3) {
      animation-delay: -0.666s; }

@keyframes train {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(2deg); }
  50% {
    transform: rotate(-2deg); }
  75% {
    transform: rotate(2deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes track {
  0% {
    opacity: 0;
    top: 88%;
    width: 90%; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: 0;
    width: 38px; } }
